header {
  margin-top: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url("../imgs/bg.png") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
h2,
h3,
h4,
h5 {
  color: #000;
}
.bg-relogio {
  background: url("../imgs/ilustra_esquerda.png") no-repeat left top 150px / 20%;
  background-attachment: fixed;
}
.bloco1 {
  background: url("../imgs/ilustra_direita.png") no-repeat right 30px bottom /
    10%;
  min-height: 80vh;
}
.bloco2 {
  background: url("../imgs/ilustra_direita2.png") no-repeat right 30px bottom /
    10%;
}

.flex-inicial {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  max-width: 50%;
  margin: 0 auto;
}
.flex-inicial div:first-child {
  margin-right: 20px;
}
.pergaminho {
  background: url("../imgs/pergaminho.png") no-repeat center top;
  max-width: 925px;
  min-height: 1042px;
  padding: 125px 255px 0px 255px;
  margin-top: 100px;
}
.pergaminho-continuar {
  display: flex;
  justify-content: center;
}
.btn-continuar-pergaminho {
  background-color: transparent;
  border: none;
  background-image: url("../imgs/bt_continuar.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 39px;
  transition: 0.5s;
}
.btn-continuar-pergaminho:hover {
  background-image: url("../imgs/bt_continuar_hv.png");
}
.pergaminho p {
  font-size: 16px;
  line-height: 20px;
}
.bloco3 {
  background: url("../imgs/ilustra_relogio.png") no-repeat left 30px top / 10%;
  padding: 100px 0;
  background-attachment: fixed;
}
.painel1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.painel1 button {
  width: 325px;
  height: 287px;
  background-position: top center;
  background-repeat: no-repeat;
  transition: all 0.4s;
  border: none;
  background-color: transparent;
  margin: 20px 0;
}
.bt-antiga {
  background-image: url("../imgs/bt_antiga.png");
}
.bt-media {
  background-image: url("../imgs/bt_media.png");
}
.bt-moderna {
  background-image: url("../imgs/bt_moderna.png");
}
.bt-contemporanea {
  background-image: url("../imgs/bt_contemporanea.png");
}

.bt-antiga:hover {
  background-image: url("../imgs/bt_antiga_hv.png");
}
.bt-media:hover {
  background-image: url("../imgs/bt_media_hv.png");
}
.bt-moderna:hover {
  background-image: url("../imgs/bt_moderna_hv.png");
}
.bt-contemporanea:hover {
  background-image: url("../imgs/bt_contemporanea_hv.png");
}

.bt-transcricao {
  background-color: transparent;
  border: none;
  margin: 5px;
  margin-top: 0;
}
.esquemaDaBru .btn {
  font-size: 15px;
}
.esquemaDaBru .enunciado {
  color: #000;
}

.img-contemporanea {
  height: 500px;
  max-width: 500px;
}
table {
  margin: 50px auto;
}
table,
table th {
  text-align: center;
}
th {
  padding: 5px 10px;
}
td {
  font-weight: bold;
  max-width: 241px;
  padding: 5px 10px;
}
.bt-iniciar {
  max-width: 925px;
  display: block;
  margin: 30px auto;
  background: url("../imgs/bt_abrir.png") no-repeat center center,
    url("../imgs/pergaminho2.png") no-repeat center center;
  height: 133px;
  background-size: contain;
  margin-top: 80px;
  transition: all 0.4s;
}
.bt-iniciar:hover {
  background: url("../imgs/bt_abrir_hv.png") no-repeat center center,
    url("../imgs/pergaminho2.png") no-repeat center center;
  background-size: auto 100%, contain;
}
.img-wd {
  max-width: 180px;
}
.img-wd2 {
  max-width: 250px;
}

.img-wd3 {
  width: 10px;
}

#modal-antiga .modal-dialog .modal-content .modal-body,
#modal-media .modal-dialog .modal-content,
#modal-moderna .modal-dialog .modal-content,
#modal-contemporanea .modal-dialog .modal-content {
  background: url("../imgs/bg.png") repeat center;
}

@media screen and (max-width: 980px) {
  .flex-inicial {
    margin-top: 5%;
  }
  .bt-iniciar {
    max-width: 80%;
  }
  .bg-relogio {
    background: url("../imgs/ilustra_esquerda.png") no-repeat left top 100px /
      15%;
    background-attachment: unset;
  }
  .pergaminho {
    background: none;
    padding: 50px;
    min-height: auto;
  }
  .bloco3 {
    background: none;
  }
}
@media screen and (max-width: 580px) {
  .flex-inicial {
    max-width: 70%;
  }
}
